@model WebApplication1.Models.Product

<h2>Product Details</h2>

<ul>
    <li>Id: @Model.Id</li>
    <li>Name: @Model.Name</li>
    <li>Price: @Model.Price</li>
    <li>Quantity: @Model.Quantity</li>
</ul>

<a class="btn btn-secondary" href="/Product">Back</a>